<h4 class="ta-c">{{ title }}</h4>

<tabs-header [tabs]="tabs" (tabChanged)="tabChanged($event)"></tabs-header>

<ng-container [ngSwitch]="currentTabIndex">
	<unit-frame-basic class="d-block p-3" *ngSwitchCase="0"
			[configObj]="configObj.basic"
			[configPath]="configPath"
	></unit-frame-basic>

	<unit-frame-health-bar class="d-block p-3" *ngSwitchCase="1"
			[configObj]="configObj.healthBar"
			[configPath]="configPath"
	></unit-frame-health-bar>

	<unit-frame-mana-bar class="d-block p-3" *ngSwitchCase="2"
			[configObj]="configObj.manaBar"
			[configPath]="configPath"
	></unit-frame-mana-bar>

	<unit-frame-role class="d-block p-3" *ngSwitchCase="3"
			[configObj]="configObj.role"
			[configPath]="configPath"
	></unit-frame-role>

	<unit-frame-sign class="d-block p-3" *ngSwitchCase="4"
			[configObj]="configObj.sign"
			[configPath]="configPath"
	></unit-frame-sign>

	<unit-frame-distance class="d-block p-3" *ngSwitchCase="5"
			[configObj]="configObj.distance"
			[configPath]="configPath"
	></unit-frame-distance>

	<unit-frame-status class="d-block p-3" *ngSwitchCase="6"
			[configObj]="configObj.status"
			[configPath]="configPath"
			[filters]="filters"
	></unit-frame-status>

	<unit-frame-cast-bar class="d-block p-3" *ngSwitchCase="7"
			[configObj]="configObj.castBar"
			[configPath]="configPath"
	></unit-frame-cast-bar>

	<unit-frame-data-text class="d-block p-3" *ngSwitchCase="7"
			[configObj]="configObj.widgets"
			[configPath]="configPath"
	></unit-frame-data-text>
</ng-container>