<ng-content></ng-content>
<div class="d-flex flex-column unit-frame cursor-pointer"
		*ngIf="combatant"
		style="height: 100%; border-style: solid"
		[class.is-target]="combatant?.isTarget"
		[style.border-width.px]="ownConfig.basic.borderWidth"
		[style.border-color]="ownConfig.basic.borderColor"
		[style.opacity]="inRange ? 1 : ownConfig.distance.opacity / 100"
		(click)="setTarget()"
		(mouseenter)="setMouseOver()"
		(mouseleave)="clearMouseOver()"
>

	<role-icon class="position-absolute z20"
			*ngIf="ownConfig.role.show"
			anchor-element
			[anchorSub]="ownConfig.role.anchorSub"
			[positionSub]="ownConfig.role.positionSub"
			[style.color]="ownConfig.role.color"
			[combatant]="combatant"
			[size]="ownConfig.role.size"
	></role-icon>

	<sign-icon class="position-absolute z30"
			*ngIf="ownConfig.sign.show"
			anchor-element
			[anchorSub]="ownConfig.sign.anchorSub"
			[positionSub]="ownConfig.sign.positionSub"
			[combatant]="combatant"
			[size]="ownConfig.sign.size"
	></sign-icon>

	<div class="d-flex position-absolute z10"
			*ngIf="ownConfig.status.show"
			anchor-element
			[anchorSub]="ownConfig.status.anchorSub"
			[positionSub]="ownConfig.status.positionSub"
	>
		<aura-icon class="d-block" *ngFor="let aura of auras" [aura]="aura"></aura-icon>
	</div>

	<cast-bar class="d-flex position-absolute z20"
			*ngIf="ownConfig.castBar.show"
			anchor-element
			[anchorSub]="ownConfig.castBar.anchorSub"
			[positionSub]="ownConfig.castBar.positionSub"
			[config]="ownConfig.castBar"
			[style.width.px]="ownConfig.castBar.size.width"
			[style.height.px]="ownConfig.castBar.size.height"
			[cast]="combatant?.cast"
	>
	</cast-bar>

	<progress-bar
			class="flex-fill hp-bar"
			[percent]="hpPct"
			[fillColor]="hpBarColor"
			[bgColor]="ownConfig.basic.backgroundColor"
			[barStyle]="ownConfig.healthBar.barStyle"
			[barDirection]="ownConfig.healthBar.barDirection"
	>
		<div class="position-absolute z10 text-widget-name"
				text-widget
				[config]="ownConfig.widgets.name"
				[class.blur-3]="blurName"
				[customColor]="jobColor"
		>
			{{ name }}
		</div>

		<div class="position-absolute z10 text-widget-job text-widget-job-{{ job }}"
				text-widget
				[config]="ownConfig.widgets.job"
				[customColor]="jobColor"
		>
			{{ jobText }}
		</div>

		<div class="position-absolute z10 text-widget-level"
				text-widget
				[config]="ownConfig.widgets.level"
				[customColor]="jobColor"
		>
			{{ level }}
		</div>

		<div class="position-absolute z10 text-widget-hp"
				text-widget
				[config]="ownConfig.widgets.hp"
				[customColor]="jobColor"
		>
			{{ hpText }}
		</div>
	</progress-bar>
	<progress-bar
			class="flex-shrink-0 mana-bar"
			*ngIf="ownConfig.manaBar.show"
			[style.height]="ownConfig.manaBar.height"
			[fillColor]="ownConfig.manaBar.barColor"
			[bgColor]="ownConfig.basic.backgroundColor"
			[percent]="manaPct"
			[barStyle]="ownConfig.manaBar.barStyle"
			[barDirection]="ownConfig.manaBar.barDirection"
	>
		<div class="position-absolute z10 text-widget-mana"
				text-widget
				[config]="ownConfig.widgets.mana"
				[customColor]="jobColor"
		>
			{{ manaText }}
		</div>
	</progress-bar>
</div>