@import 'variables';
@import 'colors';

.config-group {
	margin:  5px;
	padding: 5px;
	border:  1px solid $config-border-color;
}

config-input,
config-size,
config-position,
config-checkbox,
config-color,
config-select,
config-multiselect,
config-range,
.custom-config-row {
	display:        flex;
	flex-direction: row;
	margin-bottom:  5px;
}

.config-label {
	flex:         0 0 110px;
	margin-right: 5px;
	text-align:   right;
	font-size:    14px;
	line-height:  30px;
}

.config-reset {
	flex:        0 0 50px;
	margin-left: 5px;
}

.config-input {
	flex-grow: 1;
}

.color-btn {
	width:          40px;
	vertical-align: middle;
	margin-right:   5px;
	flex:           0 0 40px;
	border:         1px solid $input-border-color;
}

.config-close-btn {
	right:  6px;
	top:    7px;
	width:  30px;
	height: 26px;
}

.color-input-field {
	flex: 1 1 40px;
}

.config-window {
	width:            800px;
	height:           600px;
	//background-color: $ui-background-color;
	background-color: $body-bg;
	border:           $config-border;
	box-shadow:       0 0 10px 5px rgba(0, 0, 0, 0.5);
	//color:            $config-color;

	table {
		color: $config-color;
	}

	.config-content {
		flex:        1 0 100px;
		align-items: stretch;
		height:      100px;
	}

	.config-bar {
		height: 40px;
		flex:   0 0 40px;
	}

	.config-pane {
		width: 200px;
		flex:  1 1 160px;
	}

	.config-pane-content {
		flex:       1 1 640px;
		overflow-y: auto;
		padding:    10px;
	}
}
