$red-border:          rgba(255, 10, 10, 1);
$blue-border:          rgba(0, 100, 210, 1);

$ui-background-color: rgba(33,32,33,0.8);
$config-border-color: rgba(16,16,16,1);
$config-border:       1px solid $config-border-color;
$config-color:        white;


//backgroundColor: 'rgba(33,32,33,0.8)',
//useClassColor: true,
//showMana: false,
//manaHeight: '20px',
//borderWidth: 1,
//borderColor: 'rgba(16,16,16,1)',