<div id="main-content" *ngIf="!configVisible" style="position:relative;">
	<player class="draggable d-block"
			style="display: block"
			[style.width.px]="config.frames.player.size.width"
			[style.height.px]="config.frames.player.size.height"
			[ngDraggable]="moveMode"
			[ngResizable]="moveMode"
			[rzGrid]="[5, 5]"
			[handle]="playerDragHandle"
			[gridSize]="5"
			rzHandles="all"
			[position]="config.frames.player.position"
			(rzStop)="saveFrameSize('player', $event)"
			(endOffset)="saveFramePosition('player', $event)"
	>
		<div #playerDragHandle class="grab-handle" [style.display]="moveMode ? 'block': 'none'">⇅</div>
	</player>

	<target class="draggable d-block"
			style="display: block"
			[style.width.px]="config.frames.target.size.width"
			[style.height.px]="config.frames.target.size.height"
			[ngDraggable]="moveMode"
			[ngResizable]="moveMode"
			[rzGrid]="[5, 5]"
			[handle]="targetDragHandle"
			[gridSize]="5"
			rzHandles="all"
			[position]="config.frames.target.position"
			(rzStop)="saveFrameSize('target', $event)"
			(endOffset)="saveFramePosition('target', $event)"
	>
		<div #targetDragHandle class="grab-handle" [style.display]="moveMode ? 'block': 'none'">⇅</div>
	</target>

	<party class="draggable party-frame d-block"
			[style.width.px]="config.frames.party.size.width"
			[style.height.px]="config.frames.party.size.height"
			[ngDraggable]="moveMode"
			[ngResizable]="moveMode"
			[rzGrid]="[5, 5]"
			[handle]="partyDragHandle"
			[gridSize]="5"
			rzHandles="all"
			[position]="config.frames.party.position"
			(rzStop)="saveFrameSize('party', $event)"
			(endOffset)="saveFramePosition('party', $event)"
	>
		<div #partyDragHandle class="grab-handle" [style.display]="moveMode ? 'block': 'none'">⇅</div>
	</party>

	<control class="d-block control-bar"
			[style.width.px]="config.frames.control.size.width"
			[style.height.px]="config.frames.control.size.height"
			[ngDraggable]="moveMode"
			[handle]="controlDragHandle"
			[position]="config.frames.control.position"
			[gridSize]="5"
			(endOffset)="saveFramePosition('control', $event)"
	>
		<div #controlDragHandle class="grab-handle" [style.display]="moveMode ? 'block': 'none'">⇅</div>
	</control>
</div>

<config-window id="settings-window" *ngIf="configVisible"></config-window>