/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";

@import '~angular2-draggable/css/resizable.min.css';

body {
	background-color:  transparent;
	background-repeat: repeat;

	&.grid {
		background-image: url('https://i.imgur.com/RVRX2Qy.png');
	}
}

.resizeHandle {
	background-image:    url(https://i.imgur.com/R2erClF.png);
	background-position: bottom right;
	background-repeat:   no-repeat;
	box-sizing:          border-box;
}

.draggable {
	position: relative;
}

.grab-handle {
	border:      1px dashed white;
	position:    absolute;
	right:       5px;
	top:         5px;
	cursor:      grab;
	width:       20px;
	height:      20px;
	text-align:  center;
	line-height: 20px;
	z-index:     1000;
}

.d-block { display: block; }
.pos-r { position: relative; }

.party-frame {
	background-color: rgba(0, 0, 0, 0.32);
	border: 1px solid rgba(255, 255, 255, 0.32);
}

.hp {
	width:            100%;
	height:           100%;
	background-color: black;
	position:         relative;
}

.control-bar {
	background-color: white;
	padding: 5px;
}

.mana {
	width:            100%;
	background-color: black;
	position:         relative;
}

.bar-fill {
	height:   100%;
	position: absolute;
	top:      0;
	left:     0;
}

.bar-text {
	color:      white;
	text-align: center;
	z-index:    100;
	position:   absolute;
	width:      100%;
}

.bar-text-left {
	text-align: left;
}

.bar-text-right {
	text-align: right;
}

.settings-icon {
	width:    20px;
	height:   20px;
	position: absolute;
	right:    5px;
	top:      5px;
	color:    white;
	z-index:  99999;
	cursor:   pointer;
}

.settings-icon:hover {
	display: inline-block;
}

#settings-window {
	width:            100%;
	height:           100%;
	background-color: #fff;
	position:         relative;
	overflow-y:       auto;
}

#settings-window table {
	font-size: 10pt !important;
}

#main #main-settings-icon {
	display: none;
}

#main:hover #main-settings-icon {
	display: block;
}