/* You can add global styles to this file, and also import other style files */
$enable-rounded: false;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/forms";

@import '~angular2-draggable/css/resizable.min.css';
//@import "~@ng-select/ng-select/themes/default.theme.css";
@import 'styles/ngselect-bootstrap';

@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/config';

body {
	background-color:  transparent;
	background-repeat: repeat;

	&.grid {
		background-image: url(assets/bg2.png);
	}

	&.config-bg {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

input, button {
	vertical-align: middle;
}

.resizeHandle {
	background-image:    url(https://i.imgur.com/R2erClF.png);
	background-position: bottom right;
	background-repeat:   no-repeat;
	box-sizing:          border-box;
}

.draggable {
	position: absolute;
}

.grab-handle {
	border:      2px dashed $red-border;
	position:    absolute;
	right:       -2px;
	top:         -2px;
	cursor:      grab;
	width:       25px;
	height:      25px;
	text-align:  center;
	line-height: 20px;
	z-index:     1000;
	background:  white;
}

// @formatter:off
//.d-block { display: block; }
//.d-flex { display: flex; }
.pos-r { position: relative; }
.pos-a { position: absolute; }
.w100p { width: 100%; }
.h100p { height: 100%; }
.z10 { z-index: 10; }
.no-sel { user-select: none }
.ta-c { text-align: center }
.ta-r { text-align: right }
.fz-10 { font-size: 10px; }
.flex-grow { flex-grow: 1 }
// @formatter:on

.frame-bg {
	background-color: rgba(0, 0, 0, 0.5);
	outline:          2px dashed $red-border;

	&.frame-player::before {
		@include frameName('Player Frame')
	}

	&.frame-target::before {
		@include frameName('Target Frame')
	}

	&.frame-target-of-target::before {
		@include frameName('Target Of Target Frame')
	}

	&.frame-party::before {
		@include frameName('Party Frame')
	}

	&.frame-aggro-list::before {
		@include frameName('Aggro List Frame')
	}

	&.frame-control::before {
		@include frameName('Control Frame')
	}
}

.hp {
	width:            100%;
	height:           100%;
	background-color: black;
	position:         relative;
}

.control-bar {
	padding:          5px;
}

.mana {
	width:            100%;
	background-color: black;
	position:         relative;
}

.btn-icon {
	width:  12px;
	height: 12px;
}



.simple-btn {
	box-shadow:       inset 0px 1px 0px 0px #cf866c;
	background-color: #d0451b;
	border-radius:    3px;
	border:           1px solid #942911;
	display:          inline-block;
	cursor:           pointer;
	color:            #ffffff;
	height:           24px;
	padding:          3px 3px;
	font-size:        13px;
	text-decoration:  none;
	text-shadow:      0px 1px 0px #854629;

	&:hover {
		background-color: #bc3315;
	}

	&:active {
		position: relative;
		top:      1px;
	}
}

.ng-select .ng-select-container {
	min-height: 28px;
}

.ng-select.ng-select-single .ng-select-container {
	height: 28px;
}




.text-outline-1 {
	@include stroke();
}

.text-outline-2 {
	@include stroke(#000, 2px);
}