/* You can add global styles to this file, and also import other style files */
$enable-rounded: false;
$dropdown-item-padding-y: 0.1rem;
$dropdown-item-padding-x: 0.5rem;

@import "styles/colors";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/dropdown";

@import '~angular2-draggable/css/resizable.min.css';
//@import "~@ng-select/ng-select/themes/default.theme.css";
@import 'styles/ngselect-bootstrap';

@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/unit-frame';
@import 'styles/config';
@import 'styles/custom-element';

body {
	background-color:  transparent;
	background-repeat: repeat;
	overflow:          hidden;

	&.grid {
		background-image: url(assets/bg2.png);
	}

	&.config-bg {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

input, button {
	vertical-align: middle;
}

.resizeHandle {
	background-image:    url(https://i.imgur.com/R2erClF.png);
	background-position: bottom right;
	background-repeat:   no-repeat;
	box-sizing:          border-box;
}

.draggable {
	position: absolute;
}

.grab-handle {
	border:      2px dashed $red-border;
	position:    absolute;
	right:       -2px;
	top:         -2px;
	cursor:      grab;
	width:       25px;
	height:      25px;
	text-align:  center;
	line-height: 20px;
	z-index:     1000;
	background:  white;
}

// @formatter:off
.w100p { width: 100%; }
.w50p { width: 50%; }
.h100p { height: 100%; }
.z10 { z-index: 10; }
.z20 { z-index: 20; }
.z30 { z-index: 30; }
.no-sel { user-select: none }
.cursor-pointer { cursor: pointer }
.ta-c { text-align: center }
.ta-r { text-align: right }
.fz-10 { font-size: 10px; }
.fz-14 { font-size: 14px; }
.fz-16 { font-size: 16px; }
.lh-30 { line-height: 30px; }
.flex-grow { flex-grow: 1 }
.fill-abs { top: 0; right: 0; left: 0; bottom: 0 }
// @formatter:on

.frame-bg {
	background-color: rgba(0, 0, 0, 0.5);
	outline:          2px dashed $red-border;

	&.frame-player::before {
		@include frameName('Player Frame');
	}

	&.frame-target::before {
		@include frameName('Target Frame');
	}

	&.frame-target-of-target::before {
		@include frameName('Target Of Target Frame');
	}

	&.frame-focus::before {
		@include frameName('Focus Frame');
	}

	&.frame-party::before {
		@include frameName('Party Frame');
	}

	&.frame-aggro-list::before {
		@include frameName('Aggro List Frame');
	}

	&.frame-control::before {
		@include frameName('Control Frame');
	}

	&.frame-custom-element {
		outline: 2px dashed $blue-border;
	}
}

.frame-custom-element-name {
	@include frameName('');
}

.control-bar {
	padding: 5px;
}

.btn-icon {
	width:  12px;
	height: 12px;
}

.ng-select .ng-select-container {
	min-height: 28px;
}

.ng-select.ng-select-single .ng-select-container {
	height: 28px;
}

.top-right-5 { top: 5px; right: 5px }

.text-outline-1 {
	@include stroke();
}

.text-outline-2 {
	@include stroke(#000, 2px);
}

.blur-3 {
	filter: blur(3px);
}

.nav-pills {
	display:               grid;
	grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));

	.nav-link {
		padding:    4px 1rem;
		color:      $light;
		background: $body-bg;
		border: 1px solid $dark;
		text-align: center;

		&.active {
			color:      $dark;
			background: $light;

		}
	}
}